/*
Projecte MALDÀ v2 (blanc)
=============================================== */



/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==================================================
ESTILS GLOBALS
=============================================== */

/* Box-sizing: border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* Segment (copiat i adaptat de la configuració de línia horitzontal <hr> que venia per defecte en BOILERPLATE) */
hr {
    display: block;
    height: 2px; /* Fa algo??*/
    width: 80px;
    border: 0;
    border-top: 2px solid #f5f0ed;
    margin: 1em auto;
    padding: 0;
}


/* definim tipo global Open Sans */
body {
  font-family: 'Open Sans', sans-serif;
}


/** Estructura genèrica SECCIONS i DIVs   **/

/* SENSE PARALLAX:
<section.seccio>
  <div.div-seccio>
    <div.titol>
    <div.contingut> pot contenir algun d'aquests:
      <div.descripcio>
      <div.imatge>
      <div.producte>
  */

  /* AMB PARALLAX:
  <section.seccio>
    <div.auxiliar>
      <div.titol>
      <div.contingut> pot contenir algun d'aquests:
        <div.descripcio>
        <div.imatge>
        <div.producte>
    */

section.seccio {
  margin: 0;
  padding: 0;
  height: auto;
}

div.div-seccio {
  padding: 20px 20px 20px 50px;
}

div.titol, div.contingut {
  margin: 0;
  padding: 0;
}

div.titol h3 {
  margin: 0;
  padding: 20px 30px 0 30px;
}

div.descripcio {
  float: left;
  padding: 30px;
  width: 33.3%;
  background-color: rgb(255, 255, 255);
}

div.imatge {
  float: left;
  width: 33.3%;
  padding: 30px;
}

div.imatge img {
  width: 100%;
  border-radius: 50%;
  border: 1.5px solid rgb(110, 43, 46);
}

/* Parallax

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.fustes {
  position: relative;
  height: auto;
}
section.fustes::before {
  background-image: url(../img/rawpixel-567028-unsplash-retall.jpg);
  content: '';
}  */

div.auxiliar {
  position: relative; /*IMPORTANTÍSSIM!!! Sinó, no rutlla */
  margin: 0;
  padding: 20px 20px 20px 50px;
}

/** ENCAPÇALAMENTS h1 - h6 **/

/* cos de lletra variarà a partir de 480 px */
h2 {
  font-weight: bold; /* la tipo Open Sans l'hem definit abans com a global per a tota la pàgina */
  color: rgb(110, 43, 46);
  font-size: 24px;
  text-align: center;
  text-transform: none;
  /* esborro possibles estils per defecte de margin i padding */
  margin: 0;
  padding: 0;
}
h2 span {
  text-transform: uppercase;
}
@media only screen and (min-width:480px) {
  h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width:768px) {
  h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width:992px) {
  h2 {
    font-size: 44px;
  }
}

h3 {
  font-weight: bold; /* la tipo Open Sans l'hem definit abans com a global per a tota la pàgina */
  color: rgb(110, 43, 46);
  font-size: 18px;
  text-align: left;
  text-transform: none;
  /* esborro possibles estils per defecte de margin i padding */
  margin: 0;
  padding: 0;
}
h3 span {
  text-transform: uppercase;
}
@media only screen and (min-width:480px) {
  h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width:768px) {
  h3 {
    font-size: 26px;
  }
}
@media only screen and (min-width:992px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-weight: bold;
  color: rgb(110, 43, 46);
  font-size: 15px;
  text-align: left;
  text-transform: none;
  margin: 0;
  padding: 0;
}
h4 span {
  text-transform: uppercase;
}
@media only screen and (min-width:480px) {
  h4 {
    font-size: 18px;
  }
}
@media only screen and (min-width:768px) {
  h4 {
    font-size: 22px;
  }
}
@media only screen and (min-width:992px) {
  h4 {
    font-size: 28px;
  }
}

h5 {
  font-weight: bold;
  color: rgb(110, 43, 46);
  font-size: 13px;
  text-align: left;
  text-transform: none;
  margin: 0;
  padding: 0;
}
h5 span {
  text-transform: uppercase;
}
@media only screen and (min-width:480px) {
  h5 {
    font-size: 15px;
  }
}
@media only screen and (min-width:768px) {
  h5 {
    font-size: 18px;
  }
}
@media only screen and (min-width:992px) {
  h5 {
    font-size: 22px;
  }
}


/* Altres estils genèrics */

li {
  list-style: none;
}

p {
  font-weight: regular; /* la tipo Open Sans l'hem definit abans com a global per a tota la pàgina */
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 16px;
}

p span {
  font-weight: bold;
  color: rgb(110, 43, 46);
  text-transform: uppercase;
}

@media only screen and (min-width:480px) {
  p {
    font-size: 16px;
    line-height: 20px;
  }
}



/* ==================================================
ESTILS LOCALS
=============================================== */

body{
  margin: 0;
  padding: 0;
}

/*** A. HEADER ***/

header {
  margin: 0;
  padding: 0;
}


/* BARRA NAVEGACIÓ */
div.top {
  height: 25vw;
  width: 100vw;
  margin: 0;
  padding: 20px 50px 20px 80px;
}

@media only screen and (min-width:992px) {
  div.top {
    height: 20vw;
  }
}

@media only screen and (min-width:1100px) {
  div.top {
    height: 20vw;
  }
}

/* div.logo {
  width: 100%;
} */

@media only screen and (min-width:480px) {
  div.logo {
    height: 100%;
    float: left; /* div.barra ja porta incorporat el clearfix */
  }
}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:992px) {

}

div.logo img {
  height: 100%; /* IMPRESCINDIBLE !! */
}

div.nologo {
  float: right;
  width: 75%;
  height: 100%;
  position: relative;
}



/* MENÚ NAVEGACIÓ PRINCIPAL */

/* Ocultem menu navegació Mobile First */
nav.navegacio-principal {
  display: none;
}

/* l'ensenyem amb MQs */
@media only screen and (min-width:768px) {
  nav.navegacio-principal {
    display: block;
    width: 100%;
    text-align: right;
    }
  nav.navegacio-principal a {
    display: inline-block; /* imprescindible perquè rutlli efcte escala en hover */
    color: rgb(110, 43, 46);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px 0 10px; /* ajustem separació idònia entre botons */
    transition: all .5s ease-in-out; /* transició sempre en l'estat de repòs */
  }

  /* Xarxes socials */
  nav.xarxes a {
    font-size: 24px; /* Dono cos de lletra més gran perquè destaqui */
  }

  /* efecte hover */
  nav.navegacio-principal a:hover {
    transform: scale(1.2); /* provo declaració scale, però sela que per text no funciona, però sí va si defineixo abans display:inline-block */
    /* font-size: 18px; provo de fer créixer el text, però llavors la línia de base cau i fa un efecte raro que no atino a compensar amb margins o paddings (????) */
    /* background-color: #d03b40; */
    /* border: 1px solid #f5f0ed; provant d'afefgir una vora sela com si box-sizing border box no funcioni (la caixa creix)*/
  }
}

/* BLOC DE TEXT - DIV DESTACADO */

div.destacado{
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 20px;
}

div.destacado h2{
  color: rgb(110, 43, 46);
  text-align: right;
}

/** MENÚ MÒBIL **/
/* Hamburguesa menu Mobile First: quadrat de 56 px de costat */
div.menu-movil {
  background-color: #d03b40;
  width: 56px;
  height: 56px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}
/* configuració spans: jugant amb margins i tamanys aconseguim l'efecte desitjat */
div.menu-movil span {
  height: 8px;
  width: 40px;
  margin: 8px;
  background-color: #ffffff;
  display: block;
}
/* media query per ocultar hamburguesa a partir de 768px (amb menys amplada, navegació principal no hi quep) */
@media only screen and (min-width:768px) {
  div.menu-movil {
    display: none;
  }
}


/* Imatge jardí */

div.hero {
  background-image: url(../img/Parc-nou-mobles-sblanc.jpg);
  height: 40vw; /* sinó imatge surt retallada verticalment */
  background-position: bottom center; /* centrem la imatge */
  background-size: cover; /* permet que es vegi TOTA la imatge */
  border-bottom: 1px solid rgb(110, 43, 46);
}

/*** B. QUI SOM ***/



/*** C: PARALLAX ***/

div.descripcio2{
  float: left;
  width: 33.3%;
  padding: 30px;
}
div.descripcio2 p{
  color: rgb(110, 43, 46)!important;
}

/*** D. CATALEG ***/

section#cataleg {
  border-top: 1px solid rgb(110, 43, 46);
  border-bottom: 1px solid rgb(110, 43, 46);
  height: auto;
}

section#cataleg h4 {
  text-align: center;
}

div.producte {
  float: left;
  width: 33.3%;
  padding: 30px;
}

div.imatge-cataleg img {
  width: 100%;
  /* border: 1.5px solid rgb(110, 43, 46);*/
}

/** E. ON TROBAR **/

/* En definir la secció com a classe "fustes-fons seccio parallax" heredem el comportament parallax de la secció C  */

div.columnes {
  padding: 30px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
  -moz-column-gap: 60px; /* Firefox */
  column-gap: 60px;
}


div.auxiliar p{
  margin-bottom: 15px;
}

/** F. footer CONTACTE **/
footer {
  background-color: rgb(110, 43, 46);
  border-top: 1px solid rgb(255, 255, 255);
}

div.naming {
  float: left;
  padding: 20px 30px 0 30px;
}
div.naming h3 {
  color: rgb(255, 255, 255);
}

div.adressa {
  float: left;
  padding: 20px 30px 0 30px;
}
div.adressa p {
  color: rgb(255, 255, 255);
}

div.adressa nav {
  margin-top: 20px;
}
div.adressa nav i {
  color: rgb(255, 255, 255);
  padding-right: 15px;
  font-size: 25px;
  transition: all .5s ease-in-out;
}

div.adressa nav i:hover {
  transform: scale(1.2);
}

div.logo-footer {
  float: right;
  padding: 0 30px 0 30px;
  height: 15vw;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;
}

div.logo-footer:hover {
  transform: scale(1.2);
}

div.logo-footer img {
  max-height: 100%;
}



/* ==================================================
Helper classes
=============================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
